<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_quiz.css') }}">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <!-- Sidebar content can be added here if needed -->
        </div>
        <div class="main-content">
            <div class="question-section">
                <div class="question-text">
                    <span class="answer-heading">Question:</span> {{ question }}
                </div>
                <h3 class="answer-heading">Your Answer:</h3>
                <div class="selected-option">Option {{ selected_option }}: {{selected_option_text}}</div>
                <h3 class="answer-heading">Correct Answer:</h3>
                <div class="correct-option">Option {{ correct_option }}: {{correct_option_text}}</div>
            </div>
            <br>
            <div class="button-section">
                <a href="{{ url_for('start_quiz', section=section, question_number=question_number+1) }}">
                    <button class="start-quiz-btn" type="button">Next Question</button>
                </a>
            </div>
        </div>
    </div>
</body>

</html>
