<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_quiz.css') }}">
    <title>Quiz Page</title>
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <h2>Sections</h2>
            <ul>
                <li><a href="#academic">Academic</a></li>
                <li><a href="#aptitude">Aptitude</a></li>
                <li><a href="#interest-survey">Interest Survey</a></li>
            </ul>
            
        </div>
        <div class="main-content">
            
            <div id="academic" class="section-rules">
                <h2>Academic Section Rules</h2>
                <p>Answer 15 multiple-choice questions based on academic subjects.</p>
            </div>
            
            <div id="aptitude" class="section-rules">
                <h2>Aptitude Section Rules</h2>
                <p>Answer 5 questions that may include both multiple-choice and fill-in-the-blank type questions.</p>
            </div>
            
            <div id="interest-survey" class="section-rules">
                <h2>Interest Survey(Optional) Section Rules</h2>
                <p>Answer 5 questions related to your interests using an agree-disagree slider.</p>
            </div>
            

            <a href="{{ url_for('start_quiz',section ='academic', question_number = 0) }}">
                <button class="start-quiz-btn" type="button" >Start Quiz</button>
            </a>
          
        </div>
    </div>
</body>

</html>
